<%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/navigation.ejs')%>
    <div class="grid">
        <h1>Page Not Found!!</h1>
    </div>
<%- include('partials/foot.ejs') %>