<%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/navigation.ejs')%>
    <div class="grid">
        <h1>An Error Occured</h1>
        <p>We appologize for the inconvenieces caused, we are working hard to fix the problem</p>
    </div>
<%- include('partials/foot.ejs') %>