<%- include('../partials/head.ejs') %>

<!-- head to app.js and allow access to the css static file -->

</head>

<body>
<%- include('../partials/navigation.ejs') %>
<main>
    <h1>My Orders</h1>
</main>
<%- include('../partials/foot.ejs') %>